.home-container {
    background-color: #201c03;
    color: white;
  }
  
 
 
.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.card-container {
    
    display: flex;
    overflow: hidden;
  }
  
  /* .card {
    flex: 0 0 calc(100% / 6);
    transition: transform 0.3s;
    border: 1px solid #ccc;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  } */

  .card {
    width: 100px; /* Set the desired width for cards */
    height: 200px; /* Set the desired height for cards */
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  
  .card-image {
    width: 100%; /* Make images fill the entire card width */
    height: 70px; /* Set the desired height for images */
    object-fit: cover; /* Preserve aspect ratio and cover the container */
  }
  .card.active {
    transform: scale(1.1);
  }
  
  /* .card img {
    max-width: 100%;
    height: auto;
  } */
  
  .card button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
