/* Login.css */
body {
    background-color: #201c03;
    color: white;
  }
  
  .Auth-form-container {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  
  .Auth-form {
    text-align: center;
  }
  
  .Auth-form-content {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
  }
  
  .form-group label {
    font-family: initial;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .form-control {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 282px;
  }
  
  .d-grid {
    text-align: center;
    margin-top: 1rem;
  }
